.popup_container {
  overflow: hidden;
  top: 50%;
  left: 50%;
  position:fixed;
  margin-top:-200px;
  margin-left: -300px;
  min-height: 100%;
}


.popup_big {
  width: 630px;
  height: 238px;
  display: flex;
  cursor: pointer;
  justify-content: flex-start;
  box-sizing: border-box;
  background: #FFFFFF;;
  border-radius: 20px;
  padding-top: 26px;
  padding-left: 25px;
  padding-bottom: 25px;
  /* box-shadow: 0px 0px 10px #000; */

}
.popup_tile {
  display: flex;
  justify-content: space-between;
}
.title_text {
  font-family: Arial-BoldMT;
  font-size: 27px;
  color: #333333;
  opacity: 100%;
  margin-right: 90px;

}
.number {
  font-family: Arial-BoldMT;
  font-size: 36px;
  color: #333333;
  letter-spacing: 0;
  text-align: left;
  opacity: 100%;
}
.title_temp {
  display: flex;
}
.on {
  display: flex;
  font-family: ArialMT;
  font-size: 14px;
  color: #333333;
  opacity: 100%;
  margin-top: -10px;
}
.popup_menu {
  display: flex;
  justify-content:flex-start;
  box-sizing: border-box;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 20px;
}
.menu_content {
  display: flex;
  align-items: center;
}
.menu_container {
  background: #F2F1F0;
  border-radius: 20px;
  display: flex;
  cursor: pointer;
  justify-content: flex-start;
  align-items: center;
  max-height: 30px;
  width: auto;
  margin-left: 9px;
  padding: 7px 9px 8px 15px;
}
.menu_text {
  font-family: Arial-BoldMT;
  font-size: 13px;
  color: #000000;
  text-align: left;
  opacity: 100%;
}
.degree {
  display: flex;
  align-items: center;
}
.gradient {
  display: flex;
  width: 580px;
  height: 60px;
  background-image: linear-gradient(-90deg, #068FFF 2%, #FFD800 51%, #F76B1C 100%);
  border-radius: 30px;
  margin-top: 25px;
}
.grad_content {
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-left: 20px;
  overflow: hidden;

}
.grad_temp {
  display: flex;
  font-family: Arial-BoldMT;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0;
  opacity: 100%;
}
.grad_pic {
  display: flex;
  border: 3px solid rgba(51,51,51,0.10);
  border: 4px solid #FFFFFF;
  width: 60px;
  height: 60px;
  margin-left: 288px;
  margin-right: 130px;
  border-radius: 100%;

}
.popup_small {
  display: flex;
  width: 630px;
  height: 60px;
  cursor: pointer;
  margin-top: 20px;

}
.small_content {
  display: flex;
  align-items: center;


}
.button_yelow {
  display: flex;
  align-items: center;
  background: #FFD93E;
  border-radius: 20px;
  opacity: 100%;
  width: 307px;
  height: 60px;
  box-sizing: border-box;
  padding: 21px 92px 18.4px 92px;
  margin-right: 16px;
}
.button_text {
font-family: Arial-BoldMT;
font-size: 18px;
color: #000000;
letter-spacing: 0;
text-align: center;
opacity: 100%;
}
.button_white {
  display: flex;
  align-items: center;
  background: #FFFFFF;;
  border-radius: 20px;
  opacity: 100%;
  width: 307px;
  height: 60px;
  box-sizing: border-box;
  padding: 21px 104px 18.4px 103px;

}

#bg_layer {
    position: absolute;
    z-index: 15;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
}
